.container {
    border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header{
    font-weight: bold;
    margin: 0;
    color: #343a40;
  }
  
 
  
 input {
    padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  }
  
 button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 5px;
  }
  
 button:hover {
    background-color: #0056b3;
  }
  .list-heading {
    list-style-type: none;
  padding: 0;
  }
  
  .list-item {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  }
  .list-data{
    text-align: center;
    font-weight: bold;
  }
  
  .btn-position {
    display: flex;
    gap: 10px;
  }
  
  .btn-position button {
    margin-left: 5px;

  }
  
  .btn-position button:first-of-type {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-position button:first-of-type:hover {
    background-color: #c82333;
  }
  
  .btn-position button:last-of-type {
    background-color: #28a745;
    color: white;
  }
  
  .btn-position button:last-of-type:hover {
    background-color: #218838;
  }